body {
    font-family: Arial, sans-serif;
    margin: 20px;
    position: relative; /* Add this line */
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}

.data {
    border-collapse: collapse;
    width: 100%;
}

.data td, .data th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data tr:nth-child(even){background-color: #f2f2f2;}

.data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}


.action-icon {
    cursor: pointer;
    margin-left: 5px;
}
